@page
@model BulkyWebRazor_Temp.Pages.Categories.DeleteModel




<form method="post">
    <div class="border p-3 mt-4">
        <input type="type" hidden asp-for="Category.Id" />
        <div class="row pb-2">
            <h2 class="text-primary">Delete Category</h2>
            <hr />
        </div>

        <div class="row mb-3">
            <label asp-for="Category.Name" class="p-2"></label>
            <input asp-for="Category.Name" disabled type="text" class="form-control" />
        </div>
        <div class="row mb-3 mt-2">
            <label asp-for="Category.DisplayOrder" class="p-2"></label>
            <input asp-for="Category.DisplayOrder" disabled class="form-control" />
        </div>
        <div class="row">
            <div class="col-6">
                <button class="btn btn-primary form-control" type="submit">Delete</button>
            </div>
            <div class="col-6">
                <a asp-page="/categories/index" class="btn btn-outline-secondary form-control">Back to list</a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}